@font-face {
  font-family: "iconfont"; /* Project id 3858366 */
  src: url('//at.alicdn.com/t/c/font_3858366_q6z2up4mlxb.woff2?t=1673332197645') format('woff2'),
       url('//at.alicdn.com/t/c/font_3858366_q6z2up4mlxb.woff?t=1673332197645') format('woff'),
       url('//at.alicdn.com/t/c/font_3858366_q6z2up4mlxb.ttf?t=1673332197645') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-caozuo-quanping-zhankai:before {
  content: "\e73c";
}
.icon-zhankai1:before {
  content: "\e62a";
}
.icon-icon_list_shouqi:before {
  content: "\e61c";
}
.icon-zhankai2:before {
  content: "\e734";
}
.icon-zhankai11:before {
  content: "\e752";
}
.icon-zhankai3:before {
  content: "\e609";
}
.icon-shouqi:before {
  content: "\e60a";
}
.icon-shouqi1:before {
  content: "\e611";
}
